.matrix-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.matrix {
    /* height: 18rem; */
    /* aspect-ratio: 1/1; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
    gap: 0;
    border-right: gray 1px solid;
    border-left: white 2px solid;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform 7s;
    &>* {
        flex: 1;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0;
        margin: 0;
        gap: 0;
        box-sizing: border-box;

        &>* {
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 50%;
            background-color: rgba(18, 26, 17, .7);
            width: .8rem;
            aspect-ratio: 1/1;
            margin: 5px;
            display: flex;
            border: none;
            box-sizing: border-box;
            color: white;
            font-weight: bold;
            font-family: monospace;
            font-size: 1.5rem;
            transition: transform 7s;


            &.highlighted {
                background-color: rgb(18, 46, 15);
            }

            &.selected {
                font-weight: bold;
                color: orange;
            }
            &:focus {
                scale: 1.2;
                border: rgb(18, 46, 15) 1px solid;
            }
            &:disabled {
                pointer-events: none;
            }
        }
    }
}

.matrix.transposed {
    transform: perspective(500px) rotate3d(1, 1, 0, 180deg);
    &>*{
        &>*{
        transform: perspective(500px) rotate3d(-1, -1, 0, 180deg);
        }
    }
    /* transform: rotateZ(45deg); */
    border-left: none;
    border-right: none;
    border-top: white 2px solid;
    border-bottom: gray 1px solid;
}