#mat-mul-matrices-parent {
    display: flex;
    gap: 10px;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1200px) {
    #mat-mul-matrices-parent{
    scale: .6;
    }
}
@media screen and (max-width:900px) {
    #mat-mul-matrices-parent{
    scale: .5;
    }
}
#mat-mul-animate {
    font-size: large;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(50, 41, 54);
    border: white 2px solid;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#mat-mul-form {
    text-align: left;
    border-left: white 2px solid;
    padding-left: 10px;
    &>div>select {
        background-color: black;
        border: white 1px solid;
        color: white;
    font-size: larger;
    }
}
